{{#if visible}}
<div class="component animated slideInLeft">
	<h1>{{winner.spinwheel.name}}</h1>
	{{#if visibleWinner}}
		<h2 class="winner">{{winner.name}} has won {{winner.prize.name}}</h2>
	{{else}}
		<h2 class="winner">{{winner.name}} Spining...</h2>
	{{/if}}
	<div id="machine" class="animated">
	  {{#each prizes as |prize|}}
	  	<div class="slot">{{prize.name}}</div>
	  {{/each}}
	</div>
</div>
{{/if}}


