{{!-- The following component displays Ember's default welcome message. --}}
{{!-- Feel free to remove this! --}}
{{#paper-sidenav-container class="inner-sidenav"}}
  {{! without contextual components }}



  {{#paper-card-content class="flex"}}
    <div class="layout-fill layout-align-start-center layout-column">
		{{#unless session.isAuthenticated}}
			<div class="main-container">
        <div class="twitch-login">
          <div class="login-wrapper">
            <h2>MoncaBot</h2>
            {{twitch-login}}
          </div>
        </div>
      </div>
		{{else}}
      {{#paper-toolbar}}
        {{#paper-toolbar-tools}}
          {{#paper-sidenav-toggle name="left" as |toggleAction|}}
            {{#paper-button raised=true onClick=(action toggleAction)}}
                {{paper-icon "menu"}}<span>Menu</span> 
            {{/paper-button}}
            <h2>
              MoncaBot
            </h2>
          {{/paper-sidenav-toggle}}   
          <span class="flex"></span>
          <h2 class="kt-user">{{session.currentUser.display_name}}</h2>
          <div class="kt-avatar">
            <img src={{session.currentUser.avatar}} width="100%">
          </div>
        {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      <div class="main-container">
        {{outlet}}
      </div>
		{{/unless}}

    </div>

   
  {{/paper-card-content}}

  {{#paper-sidenav
    class="md-whiteframe-z2"
    name="left"
    position="left"
    open=rightSideBarOpen
    lockedOpen=false
    onToggle=(action (mut rightSideBarOpen))}}
	{{#paper-content padding=true}}
    <h2>
      MoncaBot
    </h2>
    <ul>
      <li>
        {{#link-to 'index'}}
          {{#paper-button}}
            {{paper-icon "dashboard" class="md-avatar-icon"}}<span>Inicio</span>
          {{/paper-button}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'spinwheels.index'}}
          {{#paper-button}}
            {{paper-icon "camera" class="md-avatar-icon"}}<span>Ruletas</span>
          {{/paper-button}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'prizes.index'}}
          {{#paper-button}}
            {{paper-icon "star" class="md-avatar-icon"}}<span>Premios</span>
          {{/paper-button}}
        {{/link-to}}
      </li>
      <li>
        {{#link-to 'winners.index'}}
          {{#paper-button}}
            {{paper-icon "mood" class="md-avatar-icon"}}<span>Ganadores</span>
          {{/paper-button}}
        {{/link-to}}
      </li>
      <li>
        <a {{action 'invalidateSession'}}>
          {{#paper-button}}
            {{paper-icon "power-settings-new" class="md-avatar-icon"}}<span>Logout</span>
          {{/paper-button}}
        </a>
      </li>
    </ul>
    {{/paper-content}}
  {{/paper-sidenav}}
{{/paper-sidenav-container}}
