{{#paper-list}}
	{{#paper-subheader}}Listado de ganadores{{/paper-subheader}}
	{{#each model as |winner|}}
	    {{#paper-item as |controls|}}
	    	<div class="md-list-item-text">
		      	<h3>{{winner.username}} </h3>
	      		<h4>{{winner.prize.name}}</h4>
		    </div>
		    <div class="md-secondary-container">
				{{#paper-button primary=true onClick=(action 'repeat' winner)}}
					{{paper-icon "pie-chart"}}
					Repeat
				{{/paper-button}}
		 		{{#unless winner.charged}}
			 		{{#paper-button primary=true onClick=(action "paid" winner)}}
			 			{{paper-icon "check-circle-outline"}}
			 		{{/paper-button}}
			 	{{else}}	 		
			 		{{#paper-button primary=true disabled=true}}
			 			{{paper-icon "check-circle"}}
			 		{{/paper-button}}
			 	{{/unless}}
	 		</div>
	    {{/paper-item}}		
		{{paper-divider}}
	{{/each}}
{{/paper-list}}
