

{{#paper-list}}

  {{#paper-subheader}}Ruletas{{/paper-subheader}}
  {{#each model as |spinwheel|}}
    {{#paper-item as |controls|}}
      {{#link-to 'spinwheels.show' spinwheel.id}}
      	{{spinwheel.name}}
      {{/link-to}}
      <div class="md-secondary-container">
     {{#link-to 'spinwheels.edit' spinwheel.id}}
     		{{#paper-button primary=true}}
     			{{paper-icon "create"}}
     			Editar
     		{{/paper-button}}
     		{{/link-to}}
     		<a {{action 'test' spinwheel}}>
				{{#paper-button primary=true}}
					{{paper-icon "pie-chart"}}
					Test
				{{/paper-button}}
     		</a>
     	</div>
    {{/paper-item}}
  {{/each}}

  {{paper-divider}}

  {{/paper-list}}

  {{#link-to 'spinwheels.new' }}
    {{#paper-button raised=true primary=true}}Crear Nueva Ruleta{{/paper-button}}
  {{/link-to}}

